body, html {
  height: 100%;
  width: 100%;
  margin: 0;
}

#content {
  width: 100vw;
  height: 100%;
  min-height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
}

h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 40px;
  font-size: 32px;
}

body {
  background-color: #0F1128;
  color: white;
}

.shop-ui {
  height: calc(100% - 70px - 100px);
}

.workshop-arrow {
  vertical-align: top;
  display: inline-block;
  width: 60px;
  height: 100%;
  text-align: center;
  font-size: 40px;
  position: relative;
}

.workshop-arrow:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.workshop-arrow > * {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
}

#workshop {
  display: inline-block;
  height: 100%;
  width: calc(100% - 60px - 70px);
}

.workshop-row {
  height: 50%;
  width: 100%;
}

.workstation {
  display: inline-block;
  height: 100%;
  width: 25%;
  text-align: center;
  vertical-align: top;
}

.shelf {
  height: calc(20% - 10px);
  width: calc(100% - 10px);
  border-style: solid;
  border-width: 0.5vh;
  border-color: #33210C;
  background-color: #9E7B4F;
}

.shelf-spot {
  height: 100%;
  width: 20%;
  display: inline-block;
  vertical-align: top;
}

.drag-target > * {
  width: 100%;
  height: 100%;
  cursor: grab;
  position: relative;
}

.drag-target > *:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.drag-target > *:active {
  cursor: grabbing;
}

.drag-target > * > * {
  position: absolute;
  top: 50%;
  left: 0;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.info {
  background-color: white;
  color: black;
}

.drag-target.empty {
  outline-style: dotted;
  outline-color: white;
  outline-width: 2px;
}

#inventory-bar {
  width: 80%;
  aspect-ratio: 80 / 5;
  background-color: dimgray;
  margin-bottom: 10px;
  display: inline-block;
  text-align: left;
}

#inventory-slots {
  width: 60%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
}

.inventory-slot {
  width: 10%;
  height: 100%;
  display: inline-block;
  outline-style: solid;
  outline-color: black;
  outline-width: 2px;
  vertical-align: top;
}

#user-panel {
  display: inline-block;
  width: 39%;
  height: 100%;
}

#control-panel {
  display: inline-block;
  width: 48%;
  height: 100%;
}

#time-panel {
  display: inline-block;
  height: 100%;
  width: 48%;
  text-align: right;
  vertical-align: top;
  font-size: 3vh;
}

#examining-control {
  display: inline-block;
  height: 100%;
  aspect-ratio: 1;
}

#examining-control > img {
  width: 95%;
}